<footer>
	<div class="social">
		<a href="https://www.facebook.com/gleeat/">
			<img src="../images/facebook.png">
		</a>
		<a href="">
			<img src="../images/twitter.png">
		</a>
		<a href="https://plus.google.com/u/0/111193917562013107439/posts" >
			<img src="../images/google.png">
		</a>
		<a href="https://www.instagram.com/gleeatofficialpage/" >				
			<img src="../images/instagram.png">
		</a>
	</div>
	<div class="contacts">
		<p><a href="https://www.google.com/maps/place/225+Bush+St,+San+Francisco,+CA+94104/@37.790841,-122.4034689,17z/data=!3m1!4b1!4m2!3m1!1s0x80858089e1c87065:0xead8e2a5febd2279">225, bush st, San Francisco, CA</a></p>
		<p><a href="mailto:info@gleeat.com">Email: info@gleeat.com</a></p>
		<p><a href="tel:+393407126994">tel: 3407126994</a></p>
	</div>
	<div class="copy">
		<p>©Gleeat</p>
	</div>
</footer>