<nav>
	<div class="logo">
		
			<a class="nav-link" href="/"><img src="/images/logo.png"></a>
	</div>
	<ul>
		{{#if currentUser}}
		<li class="nav-item">
			<a href="/logout" id="logout">Logout</a>
		</li>
		<li class="nav-item">
			<a href="profile/{{currentUser._id}}">{{currentUser.firstName}}</a>
		</li>
		{{else}}
		<li class="nav-item">
			<a href="#" id="modalButtonLogin" type="button" data-toggle="modal" data-target="#triggerModalLogin">Login</a>
		</li>
		{{/if}}
		<li class="nav-item">
			<a class="nav-link" href="#">How it works</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#">About us</a>
		</li>
	</ul>
</nav>

<!-- begin songModal: this is not visible until you call .modal() on it -->
<div class="modal fade" tabindex="-1" role="dialog" id="triggerModalLogin">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header ">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Login</h4>
			</div>

			<div class="modal-body">
				<fieldset class='form-horizontal'>

					<form id="loginUser" onsubmit="loginUser(event)">


						<!-- Text input-->
						<div class="form-group">

							<label class="col-md-4 control-label" for="email">Email</label>
								<div class="col-md-4">
									<input id="email" name="email" type="email" placeholder="" class="form-control input-md">

								</div>
						</div>



						<!-- Text input-->
						<div class="form-group">
							<label class="col-md-4 control-label" for="password">Password</label>
								<div class="col-md-4">
									<input id="password" name="password" type="password" placeholder="" class="form-control input-md" required="">

								</div>
						</div>

						<div class="modal-footer">

							<input type="submit" class="btn btn-primary" value="Login">
						</div>
					</form>
				</fieldset>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->