<div id="profile_page"></div>

 <script id="user-template" type="text/x-handlbars-template">
 <div id="profilePages">
    <h1><span id="headerFirstName">\{{user.firstName}} \{{user.lastName}}</span> </h1>
</div>

</script> 

<script type="text/javascript">
 renderUser({{{userJS}}});
</script>