<div class="slide parallax">
  <hr />
  <h1>We are building a new experience!</h1>
  <hr />
  <h1>Meet someone else during your meal</h1>
    <button id="modalButton" type="button" class="buttonSignUp" data-toggle="modal" data-target="#triggerModal"> Sign up </button>
  <hr />
  <a class="nav-link" href="#slide2"><div class="arrow bounce"></div></a>
</div>

<section id="slide2" >
  <div id="slide2" class="slide header">
    <h1>what is Gleeat and how it works</h1>
    <p>Gleeat is a new experience and the first platform in the world which allow you to eat your meal talking with someone else.
    How many times you are alone during your dinner?
    Use Gleeat a new experience to meet new people from all over the world.
    This is the version beta so to use the service momentanely you need to have an skype account.
    </p>
    <hr>
    <p>
    It's easy to use, once you make your account you can look who is eating at that moment and call someone, you will know only the name and the age nothing else so who will be in the other side will a "surprise".
    Is that funny right?
    Try Gleeat now it's free!
    </p>
  </div>
</section>
<div id="slide3" class="slide">
  <h1>About us</h1>
  <p>We are a young team appassionate to the technologies, we love to create magic moment for the people, after some time passed to think and some time passed to study web development we are working on something that we love, we have many features but we are sure that the key to success is the passion for what we do. </p>
  <h2>What the people think about Gleeat</h2>
  <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="left" title="It's funny ahahahah">Giuseppe</button>

  <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Finally something different!">Lena</button>
  <br />   
  <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Amazing service!">Daniel</button>
  <br />

  <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="right" title="Yesterday I was bored but with Gleeat I enjoyed my meal talking with Ivan">Luca</button>

  <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="left" title="Eating with new people every day :) That's cool">Gloria</button>
  <br />   
  <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="ahahahah it's cool because you don't know who is in the other side">Dani</button>
  <br />
  <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Great!">Sophia</button>

  <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="right" title="I'm really enjoying Gleeat">Mario</button>
  <br />   
  <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="right" title="With who I'm going to eat today? ahahah">Derek</button>
</div>
<div id="slide4" class="slide header slide4">
    <h1>Faqs</h1>
    <h3>• Is it not possible to use Gleeat witout a Skype account?</h3>
    <h4>In the version beta og Gleeat unfortunately no.</h4>
    <h3>• How can I know who there is in the other side?</h3>
    <h4>No way, that would be a surprise and if you don't like you can always say bye</h4>
    <h3>• How much time can I spend talking?</h3>
    <h4>It's your choice if you are enjoying you can continue until you like</h4>
    <h3>• The service is free?</h3>
    <h4>Sure and it will be forever</h4>
    <h3>• I had a bad experience wi someone</h3>
    <h4>We are sorry for that you can report the abuse to us.</h4>
</div>


<!-- begin userModal: this is not visible until you call .modal() on it -->
<div class="modal fade" tabindex="-1" role="dialog" id="triggerModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Sign up</h4>
      </div>
      <div class="modal-body">
        <fieldset class='form-horizontal'>
          
          {{!-- form begins --}}
          <form id="newUser" onsubmit="createUser(event)">
          <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="firstName">First Name</label>
              <div class="col-md-4">
                <input id="firstName" name="firstName" type="text" placeholder="" class="form-control input-md" required="">
              </div>
            </div>
            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="lastName">Last Name</label>
              <div class="col-md-4">
                <input id="lastName" name="lastName" type="text"placeholder="" class="form-control input-md" required="">
              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="skypeName">Skype name</label>
              <div class="col-md-4">
                <input id="skypeName" name="skypeName" type="text"placeholder="" class="form-control input-md" required="">
              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="email">Email</label>
              <div class="col-md-4">
                <input id="email" name="email" type="email" placeholder="" class="form-control input-md">
              </div>
            </div>
            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="passwordDigest">Password</label>
              <div class="col-md-4">
                <input id="passwordDigest" name="passwordDigest" type="password" placeholder="" class="form-control input-md" required="">
              </div>
            </div>
            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="password">Confirmation password</label>
              <div class="col-md-4">
                <input id="signupPassword" name="password" type="password"placeholder="" class="form-control input-md" required="">
              </div>
            </div>

             <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="firstName">Country</label>
              <div class="col-md-4">
                <input id="country" name="country" type="text" placeholder="" class="form-control input-md" required="">
              </div>
            </div>
            
             <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="firstName">Age</label>
              <div class="col-md-4">
                <input id="age" name="age" type="text" placeholder="" class="form-control input-md" required="">
              </div>
            </div>

            <div class="center" >
              <input type="submit" value="Sign Up" id="sign_up_button" class="btn btn-primary">
            </div>
          </form>
          {{!-- form ends --}}
        </fieldset>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div>
<!-- Button trigger modal -->